@charset "UTF-8"; /*Para não haver problemas com acentuação*/

/*
    em HTML é id    = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/

/*
    id pode ser único
    class pode ser múltiplo
*/
body{
    background-color: #d6fde9;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #1e402f;
}

#principal{  /*identificação*/
    text-align: center;
    background-color: #3c805e;
    color: white;
}

h2{
    color: rgb#3c805e;
}

.basico{
    color: #3c805e;
    
}

.intermediario{
    color: #80793c;
}

.avancado{
    color: #803c3c;
}

.destaque{
background-color: #c5c56070;
}

/*
    font-weight: bold; 
*/