@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', sans-serif;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

html, body {
    font-family: var(--fonte1);
    min-height: 100vh; /*Tamanho minimo do corpo do site*/ 
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    /*text-transform: uppercase; Fica em letra maiuscula*/
    font-variant: small-caps; /*Primeiras letras maiusculas*/
    font-family: var(--fonte2);
    font-size: 8vw; /*10% da largura, tela se ajusta*/
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none; /*Tira o sublinhado*/
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

section.normal {
    background-color: white;
}

section.imagem {
    background-color: rgb(60, 60, 60);
    color: white;
}

section.imagem > p {
    display: inline-block; /*Caixa que se adapta ao tamanho do conteudo*/
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.373);
}


footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}