@charset "UTF-8"; /* Serve para não haver problemas com caracteres especiais*/

*{
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

body{
    background-image: linear-gradient(to right, #F1D8C9, #F2C3A7);
}

main{
    background-color: white; /* Cor de fundo do main*/
    border-radius: 10px rgba(136, 109, 93, 0.616);
    box-shadow: 5px 5px 15px black; /*Sombra*/
    width: 600px;
    padding: 10px;
    margin: auto; /* Centraliza independente do tamanho da tela*/
}

h1{
    color: #F39209;
    text-align: center; /* O Título fica no meio*/
    text-shadow: 1px 1px 2px rgba(126, 77, 5, 0.726);
}

h2{
    color: #125189;
}

p{
    text-align: justify; /* Texto justificado*/
}

